---
# ============================================================
#                     ansible-addons-pack.yaml
# ============================================================

- name: "Block: ansible-addons-pack.yaml"
  become: true
  vars:
    _var_username: "{{ var_username }}"
  block:

    - name: "Current \"_var_username\" value"
      ansible.builtin.debug:
        msg: "_var_username => {{ _var_username }}"

    - name: "Install passlib for use with Ansible Vault encryption (Python crpyt module is being deprecated)"
      ansible.builtin.apt:
        name: python3-passlib
        state: latest
        update_cache: true

    - name: "Remove \"ansible-lint\" venv directory"
      ansible.builtin.file:
        path: "~/.venv/ansible-lint"
        state: absent
      become: true
      become_user: "{{ _var_username }}"

    - name: "Install conda"
      ansible.builtin.include_role:
        name: "aaronvonawesome.conda"


    - name: "Source Conda in the .bashrc file for user {{ _var_username }}"
      become: true
      become_user: "{{ _var_username }}"
      block:

        - name: "Backup .bashrc file for user {{ _var_username }}"
          ansible.builtin.command:
            cmd: cp ~/.bashrc ~/.bashrc.backup
          changed_when: false

        - name: "Update .bashrc file for user {{ _var_username }}"
          ansible.builtin.blockinfile:
            path: ~/.bashrc
            marker: "# <-- {mark} ANSIBLE MANAGED Conda BLOCK -->"
            block: |
              # Conda
              source /opt/conda/etc/profile.d/conda.sh


  rescue:

    - name: "ERROR: ansible-addons-pack.yaml"
      ansible.builtin.debug:
        msg: "ERROR: ansible-addons-pack.yaml"

    - name: "Error detected! Stopping Playbook :-("
      ansible.builtin.fail:
        msg: "Error detected! Stopping Playbook :-("
