---
# ============================================================
#                     desktop-flatpaks.yaml
# ============================================================

- name: "Block: desktop-flatpaks.yaml"
  become: true
  block:
    - name: "Remove Desktop flatpaks"
      community.general.flatpak:
        name: "{{ item }}"
        state: absent
        method: system
      loop:
        - com.belmoussaoui.Authenticator
        - com.tutanota.Tutanota
        - com.uploadedlobster.peek
        - io.github.input_leap.input-leap
        - io.github.seadve.Kooha
        - org.onlyoffice.desktopeditors

    - name: "Install Desktop flatpaks"
      community.general.flatpak:
        name: "{{ item }}"
        state: present
        method: system
      loop:
        - com.bitwarden.desktop
        - com.github.johnfactotum.Foliate
        - com.github.junrrein.PDFSlicer
        - com.github.KRTirtho.Spotube
        - com.github.marktext.marktext
        - com.github.tchx84.Flatseal
        - com.github.xournalpp.xournalpp
        - com.github.zocker_160.SyncThingy
        - com.hunterwittenborn.Celeste
        - com.jgraph.drawio.desktop
        - com.usebottles.bottles
        - eu.betterbird.Betterbird
        - io.ente.auth
        - io.freetubeapp.FreeTube
        - io.github.flattool.Warehouse
        - io.github.Pithos
        - md.obsidian.Obsidian
        - org.deskflow.deskflow
        - org.gabmus.whatip
        - org.gnome.gitlab.cheywood.Buffer
        - org.inkscape.Inkscape
        - org.keepassxc.KeePassXC
        - org.kiwix.desktop
        - us.zoom.Zoom

  rescue:
    - name: "ERROR: desktop-flatpaks.yaml"
      ansible.builtin.debug:
        msg: "ERROR: desktop-flatpaks.yaml"

    - name: "Error detected! Stopping Playbook :-("
      ansible.builtin.fail:
        msg: "Error detected! Stopping Playbook :-("
