---
# ============================================================
#                     development-packages.yaml
# ============================================================

- name: "Block: development-packages.yaml"
  become: true
  vars:
    _var_username: "{{ var_username }}"
  block:

    - name: "Install Development APT packages"
      ansible.builtin.apt:
        name: "{{ packages }}"
        state: latest
        update_cache: true
      vars:
        packages:
          - cargo
          - composer
          - default-jdk
          - git-flow
          - jq
          - libxml2-utils
          - meld
          - nodejs
          - npm
          - php
          - pipx
          - python3-graphviz
          - python3-libxml2
          - python3-pip
          - python-is-python3
          - ruby
          - ruby-rubygems
          - sshfs
          - tree-sitter-cli
          - yamllint

    - name: "Install or upgrade \"uv\" using pipx"
      ansible.builtin.command:
        cmd: "pipx install uv"
      register: _pipx_uv_command_result
      changed_when: >
        'successfully installed' in _pipx_uv_command_result.stdout
        or
        'upgraded' in _pipx_uv_command_result.stdout
      failed_when: >
        _pipx_uv_command_result.rc != 0
      become: true
      become_user: "{{ _var_username }}"


  rescue:

    - name: "ERROR: development-packages.yaml"
      ansible.builtin.debug:
        msg: "ERROR: development-packages.yaml"

    - name: "Error detected! Stopping Playbook :-("
      ansible.builtin.fail:
        msg: "Error detected! Stopping Playbook :-("
