---
# ============================================================
#                     development-packages.yaml
# ============================================================

- name: "Block: development-packages.yaml"
  become: true
  block:

    - name: "Install Development APT packages"
      ansible.builtin.apt:
        name: "{{ packages }}"
        state: latest
        update_cache: true
      vars:
        packages:
          - cargo
          - composer
          - default-jdk
          - direnv
          - git-flow
          - jq
          - libxml2-utils
          - meld
          - nodejs
          - npm
          - php
          - pipx
          - python3-graphviz
          - python3-libxml2
          - python3-pip
          - python-is-python3
          - ruby
          - ruby-rubygems
          - sshfs
          - tree-sitter-cli
          - yamllint

  rescue:

    - name: "ERROR: development-packages.yaml"
      ansible.builtin.debug:
        msg: "ERROR: development-packages.yaml"

    - name: "Error detected! Stopping Playbook :-("
      ansible.builtin.fail:
        msg: "Error detected! Stopping Playbook :-("
