---
# ============================================================
#                     media-packages.yaml
# ============================================================

- name: "Block: media-packages.yaml"
  become: true
  block:

    # - name: "Install Media APT packages"
    #   ansible.builtin.apt:
    #     name: "{{ packages }}"
    #     state: latest
    #     update_cache: true
    #   vars:
    #     packages:
    #       - xyz

    - name: Remove Freeshow DEB Package
      ansible.builtin.apt:
        name: freeshow
        state: absent
        purge: true


  rescue:

    - name: "ERROR: media-packages.yaml"
      ansible.builtin.debug:
        msg: "ERROR: media-packages.yaml"

    - name: "Error detected! Stopping Playbook :-("
      ansible.builtin.fail:
        msg: "Error detected! Stopping Playbook :-("
